# Ignore Python cache and environments
__pycache__/
.venv/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore downloaded datasets (your script downloads it automatically anyway!)
*.csv